
{% load static %}
{% include './Header.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/registration.css' %}">
    

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body{
            background: linear-gradient(120deg,#2980b9, #8e44ad);
        }
        a{
            
            place-items: center;
            display: table-cell;
            padding-top: 6px;
          
        }
    </style>
</head>


<body>
    <div class="container">
        <h2>Faculty Information</h2>
        <div class="form-container">
            <form method="POST">
                {% if form.error %}
                <p style="color:red;text-align:center;font-size:x-large;text-shadow:1px 0.5px rgb(255, 0, 0)"> {{ form.messege }} </p>
            {% else %}
                <p style="color:rgb(68, 233, 68);text-align: center;text-shadow:1px 0.5px rgb(73, 187, 2)"> {{ form.messege }} </p>
            {% endif %}
            <input type="hidden" name="id" value="{{ form.id }}">
            <div class="input-name">
                <i class="fa fa-user icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="text" placeholder="Enter First Name" name="firstName" value="{{form.firstName}}" class="name">
                <span>
                    <i class="fa fa-user icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="text" placeholder="Enter Last Name" name="lastName" value="{{form.lastName}}" class="name">
                </span>

            </div>
            <div class="row" style="margin:-13px 0 13px 0" >
                <div class="col-lg-6">
                    <span style="color: red;margin-left:7px;">{{ form.inputError.firstName }}</span>
                    
                </div>
                <div class="col-lg-6">
                    <span style="color: red";>{{ form.inputError.lastName }}</span>
    
                </div>
                </div>
            <div class="input-name">
                <i class="fa fa-envelope icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="email" placeholder="Enter your Email" name="email" value="{{form.email}}" class="text-name">
            </div>
            <div class="input-name">
                <span style="color: red;margin-left:1px">{{form.inputError.email}}</span>
            </div>

            <div class="input-name">
                <i class="fa fa-lock icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="password" placeholder="Enter Your Password" name="password" value="{{form.password}}" class="name">
                <span>
                    <i class="fa fa-address-book icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                    <input type="text" placeholder="Enter Your Address" name="address" value="{{form.address}}" class="name">
                </span>
            </div>
            <div class="row" style="margin:-13px 0 13px 0" >
                <div class="col-lg-6">
                    <span style="color: red;margin-left:2px;">{{ form.inputError.password }}</span>
                    
                </div>
                <div class="col-lg-6">
                    <span style="color: red";>{{ form.inputError.address }}</span>
    
                </div>
                </div>
            
            <div class="input-name">
                <input type="radio"  name="gender" value="Male" class="radio-button" checked>
                <label style="margin-right:15px;">Male</label>

                <input type="radio"  name="gender" value="Femail" class="radio-button">
                <label style="margin-right: 42px;">Female</label>

                <span>
                    <i class="fa fa-calendar icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="date" placeholder="dd-mm-yyyy" name="dob" value="{{form.dob}}" class="name">
                </span>


            </div>
            <div class="row" style="margin:-13px 0 13px 0" >
                <div class="col-lg-6">
                    <span style="color: red;margin-left:27px;">{{ form.inputError.gender }}</span>
                    
                </div>
                <div class="col-lg-6">
                    <span style="color: red";>{{ form.inputError.dob }}</span>
    
                </div>
                </div>
            
            
            <div class="input-name">
                <label for="college_ID">College Name<span style="color: red;margin-left:2px">*</span></label>
                <select class="role" name="college_ID">
                    <option value="{{form.subject_ID}}">{{ form.collegeName }}</option>
                    {% for form in collegeList %}
                    <option value="{{ form.id }}">{{ form.collegeName }}</option>
                    {% endfor %}
                </select>
                <span style="color:red;margin-left:1px">{{ form.inputError.college_ID }}</span>

            </div>
            <div class="input-name">
                <label for="subject_ID">Subject Name<span style="color: red;margin-left:2px">*</span></label>
                <select class="role" name="subject_ID">
                    <option value="{{form.subject_ID}}">{{ form.subjectName }}</option>
                    {% for form in subjectList %}
                    <option value="{{ form.id }}">{{ form.subjectName }}</option>
                    {% endfor %}
                </select>
                <span style="color:red;margin-left:1px">{{ form.inputError.subject_ID }}</span>

            </div>
            <div class="input-name">
                <label for="course_ID">Course Name<span style="color: red;margin-left:2px">*</span></label>
                <select class="role" name="course_ID">
                    <!-- <option value="" disabled selected hidden>Select a Course Name</option> -->
                    <option value="{{form.course_ID}}">{{ form.courseName }}</option>
                    {% for form in courseList %}
                    <option value="{{ form.id }}">{{ form.courseName }}</option>
                    {% endfor %}
                </select>
                <span style="color:red;margin-left:1px">{{ form.inputError.course_ID }}</span>

            </div>
            <div class="input-button">
                <div class="row">
               <input type="submit" class="button" value="save" style="margin-left:140px ;">
               <!-- <span style="margin-right: 20px;">  <a href="" class="button-1" style="text-align:center">reset</a></span> -->
               <a href="" class="button-1" style="text-align:center">reset</a>
               </div>
            </div>
            </form>
            

           
        </div>

    </div>

  
</body>

</html>
{% include './Footer.html' %}



