<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body >
    <div style="position:fixed;text-align:center;">
        <p style="position:fixed;bottom:-20;width:100%;background-color:#29e3e6;padding:10px 10px;color:rgb(66, 71, 201);border-top:3px solid orange">
            <b>Copyright &copy; Rays Technologies</b> <b >Since-2006</b>
        </p>
    </div>
</body>
</html>