{% load static %}
{% include './Header.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/registration.css' %}">
    

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/js/solid.min.js" integrity="sha512-8lu2ZjeEHXD+qkS1UF5wsYQ08dg8yj6dqin/qFeDpeqMebKoLMj9zV92hdooBAYgG4DYhHv5miJ8f/t7NbPHsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/solid.min.css" integrity="sha512-6/gTF62BJ06BajySRzTm7i8N2ZZ6StspU9uVWDdoBiuuNu5rs1a8VwiJ7skCz2BcvhpipLKfFerXkuzs+npeKA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body{
            background: linear-gradient(120deg,#2980b9, #8e44ad);
        }
    </style>
</head>


<body>
    <div class="container">
        <h2>Forget Password</h2>
        <div class="form-container">
            <form method="POST">
                {% if form.error %}
                <p style="color:red;text-align:center;font-size:x-large;text-shadow:1px 0.6px rgb(255, 0, 0)"> {{ form.messege }} </p>
            {% else %}
                <p style="color:rgb(61, 235, 61);text-align: center;text-shadow:1px 0.6px rgb(62, 247, 6)"> {{ form.messege }} </p>
            {% endif %}
            <input type="hidden" name="id" value="{{ form.id }}">
            <div class="input-name" style="margin-bottom: 20px;">
                <span style="color: red;margin-left:120px">{{ form.inputError.login_id  }}</span>
            </div>
            <div class="input-name">
                <label style="margin-right: 5px;">Login Id<span style="color: red;margin-left:5px">*</span></label>
                <span style="margin-right: 20px;">
                    <i class="fa fa-envelope icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="text" placeholder="Enter Your Email" name="login_id" value="{{form.login_id}}" class="name" style="width: 60%;">
                </span>

            </div>
        
            <div class="input-button">
                <input type="submit" class="button" value="Send" style="margin-left: 170px;">
                
            </div>
            </form>
            

           
        </div>

    </div>

  
</body>

</html>
{% include './Footer.html' %}
