{% load static %}
{% include './Header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    #demo{
        width: 35%;
    }
    body{
        background-color: rgb(240, 235, 82);
        background-image:url("{% static 'Aqua1.jpg' %}");
        background-repeat:no-repeat;width: 100%;
         background-size: cover;

    }

</style>
<body>

<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 align="center">
        <img src="{% static '/img3.png' %}" class="mx-auto d-block" id="demo">
        <br>
    </h1>
</div>
</body>
{% include './Footer.html'%}
</html>
