{% load static %}
{% include './Header.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/registration.css' %}">
    

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    a{
            
        place-items: center;
        display: table-cell;
        padding-top: 6px;
      
    }
</style>


<body>
    <div class="container">
        <h2>User Registration</h2>
        <div class="form-container">
            <form method="POST">
                {% if form.error %}
                <p style="color:red;text-align:center;font-size:x-large;text-shadow:1px 0.6px rgb(255, 0, 0)"> {{ form.messege }} </p>
            {% else %}
                <p style="color:rgb(38, 240, 38);text-align: center;text-shadow:1px 0.6px rgb(24, 238, 13)"> {{ form.messege }} </p>
            {% endif %}
            <input type="hidden" name="id" value="{{ form.id }}">
            <div class="input-name">
                <i class="fa fa-user icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="text" placeholder="Enter First Name" name="firstName" value="{{form.firstName}}" class="name">
                <span>
                    <i class="fa fa-user icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="text" placeholder="Enter Last Name" name="lastName" value="{{form.lastName}}" class="name">
                </span>

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <span style="color: red;margin-left:20px;display:inline-block">{{ form.inputError.firstName }}</span>
                    
                </div>
                <div class="col-lg-6">
                    <span style="color: red";>{{ form.inputError.lastName }}</span>
    
                </div>
                </div>
            <div class="input-name">
                <i class="fa fa-envelope icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="email" placeholder="Enter your Email" name="login_id" value="{{form.login_id}}" class="text-name">
            </div>
            <div class="input-name">
                <span style="color: red;margin-left:3px">{{form.inputError.login_id}}</span>
            </div>

            <div class="input-name">
                <i class="fa fa-lock icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="password" placeholder="Enter Your Password" name="password" value="{{form.password}}" class="name">
                <span>
                    <i class="fa fa-lock icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="text" placeholder="Enter Confirm password" name="confirmpassword" value="{{form.confirmpassword}}" class="name">
                </span>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <span style="color: red;margin-left:27px;">{{ form.inputError.password }}</span>
                    
                </div>
                <div class="col-lg-6">
                    <span style="color: red";>{{ form.inputError.confirmpassword }}</span>
    
                </div>
                </div>
            
            <div class="input-name">
                <input selected type="radio"  name="gender" value="Male" class="radio-button" checked>
                <label style="margin-right:15px;">Male</label>

                <input type="radio"  name="gender" value="Female" class="radio-button">
                <label style="margin-right: 42px;">Female</label>

                <span>
                    <i class="fa fa-calendar icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="date" placeholder="dd-mm-yyyy" name="dob" value="{{form.dob}}" class="name">
                </span>


            </div>
            <div class="row">
                <div class="col-lg-6">
                    <span style="color: red;margin-left:27px;">{{ form.inputError.gender }}</span>
                    
                </div>
                <div class="col-lg-6">
                    <span style="color: red";>{{ form.inputError.dob }}</span>
    
                </div>
                </div>
            <div class="input-name">
                <i class="fa fa-address-book icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="text" placeholder="Enter Your Address" name="address" value="{{form.address}}" class="name">
                <span>
                    <i class="fa fa-mobile icon" style="position:absolute; font-size: 24px;border-right: 1px solid rgb(228, 153, 14); margin:8px 6px ; padding-right:4px"></i>
                <input type="text" placeholder="Enter Mobile No." name="mobilenumber" value="{{form.mobilenumber}}" class="name">
                </span>

            </div>
            <div class="row" style="margin-top: -9px; margin-bottom:10px">
                <div class="col-lg-6" >
                    <span style="color: red;margin-left:27px;">{{ form.inputError.address }}</span>
                    
                </div>
                <div class="col-lg-6">
                    <span style="color: red";>{{ form.inputError.mobilenumber }}</span>
    
                </div>
                </div>
            <div class="input-button">
                <div class="row">
               <input type="submit" class="button" value="save" style="margin-left:125px ;">
               <!-- <span style="margin-right: 20px;">  <a href="" class="button-1" style="text-align:center">reset</a></span> -->
               <a href="" class="button-1" style="text-align:center">reset</a>
               </div>
            </div>
            </form>
            

           
        </div>

    </div>

  
</body>
{% include './Footer.html' %}
</html>

