{% include './Header.html' %}
{% load static %}
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script>
        $(document).ready(function (){
            txt = ""
            $('#select_all').on("click",function(){

                if(this.checked){
                    $('.checkbox').each(function(){
                        this.checked = true;
                        txt = $(this).val();
                    });
                }else{
                    $('.checkbox').each(function(){
                        this.checked = false;
                        txt = $(this).val();
                    });
                }
            });
            $('.checkbox').on('click', function(){
                if ($('.checkbox:checked').length == $('.checkbox').length){
                    $('#select_all').prop('checked', true);
                    txt = $(this).val();
                }else{
                    $('#select_all').prop('checked', false)
                    txt = $(this).val();
                }
            });
            $('#ids').val(txt)
        })
        

       
    </script>
    <script type="text/javascript">
        $(function (){
            setTimeout(function(){
                $('#timeout').fadeOut(1000);
            }, 2000)
        })
    </script>
</head>
<style>
    body{
        background-image: url("{% static '/Aqua.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
    .container{
        background-image: url(../static/Aqua1.jpg);
    }
    .table tr td  {
        border: 1px solid rgb(0, 0, 0);
    }
    .input-name
{
    width: 90%;
    position: relative;
    margin: 20px auto;
    text-align: center;
}
.name
{
    width: 45%;
    padding: 8px 0 8px 40px;
}
.input-name span
{
    margin-left: 35px;
}
</style>
</head>
<body>
    <h1 align="center">Role List</h1>
    <form method="POST">
        <div class="container-fluid">
            <div class="input-name">
                <input class="name" name="name" value="{{form.name}}" placeholder="Enter Roll Name">
                <span><button type="submit" class="btn btn-primary"  value="Search">Search
                    <i class="fas fa-search"></i>
                </button></span>

            </div>
        </div>
        <table border="1" width="50%">
            <div id="timeout">
                {% if form.error %}
                    <p style="color:red;font-size:x-large;text-align: center;">{{ form.messege }}</p>
                {% else %}
                    <p style="color:rgb(35,151,41);font-size:x-large;text-align: center;">{{ form.messege }}</p>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-sm table-bordered table-hover table-responsive-sm">
                        <thead class="thead-dark" style="text-align: center;">
                            <th><input type="checkbox" id="select_all"
                                    onchange="selectAll(this)"> Select All 
                            </th>
                            <th scope="row">S.NO.</th>
                            <th scope="row">Role</th>
                            <th scope="row">Description</th>
                            <th scope="row">Edit</th>
                            
                        </thead>
    
                        <tbody>
                            {% for e in pageList %}
                                <tr>
                                    <td><input type="checkbox" name="ids" class="checkbox"
                                                onchange="selectone(this)" value="{{ e.id }}"> 
                                    </td>
                                    <td>{{ form.index|add:forloop.counter0 }}</td>
                                    <td>{{ e.name }}</td>
                                    <td>{{ e.description }}</td>
                                    <td><a href="/ORS/Role/Edit/{{ e.id }}">Edit
                                        <font data-target="#update" data-toggle="modal" class="">
                                            <i class="fas fa-edit"></i>
                                        </font>
                                    </a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    {% if form.mesg %}
        <b style="font-size:x-large;margin-left: 660px;">{{form.mesg}}</b><br>
        <a class="btn btn-primary" href="/ORS/RoleList" style="margin-left:720px;">Back</a><br><br>
    {% else %} 
    <div class="row">
        {% if form.pageNo == 1 %}
            <div class="col-lg-1">
                <input disabled type="submit" class="btn btn-dark float-left" name="operation" value="previous">
            </div>
        {% else %}
            <div class="col-lg-1">
                <input type="submit" class="btn btn-primary" name="operation" value="previous">
            </div>
        {% endif %}
    
        <div class="col-lg-3"></div>
        <div class="col-lg-2">
            <input type="submit" class="btn btn-danger" name="operation" value="Delete">
        </div>
        <div class="col-lg-2">
            <a href="/ORS/Role">
                <font class="btn btn-success" data-target="##update" data-toggle="modal">ADD
                    <i class="fas fa-plus-circle"></i></font>
            </a>
        </div>
        <div class="col-lg-3"></div>
    
        {% if pageList|length < 5 or form.LastId == form.MaxId %}
            <div class="col-lg-1">
                <input disabled type="submit" class="btn btn-dark" name="operation" value="next">
            </div>
        {% else %}
            <div class="col-lg-1">
                <input type="submit" class="btn btn-primary" name="operation" value="next">
            </div>
        {% endif %}
    
    </div>
    {% endif %}
                </div>
            </div>
        </table>
    </div>

    </form>
    
</body>
{% include './Footer.html' %}
</html>